@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

main {
    width: 800px;
    margin: 30px;
    margin: auto;
    text-align: center;

    border: 1px solid black;
    border-radius: 15px;
    background-color: rgb(42, 153, 125);
    padding: 30px;
}

#slash-title {
    margin: 30px 0;
    font-size: 80px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    margin-left: 300px;
}

#top-right-links {
    float: right;
    display: flex;
    justify-content: right;
    width: 300px;
    font-size: 20px;
}

#top-right-links a {
    margin-right: 50px;
}
