.login-signup-button {
    margin-top: 25px;
    font-size: 20px;
    padding: 10px 20px;
    background-color: rgb(214, 253, 234);
    border-radius: 10px;
    border: 1px solid gray;
}

.login-signup-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.login-signup-link {
    color: rgb(2, 88, 48);
}