#search {
    margin: auto;
    margin-top: 10px;
}

#search input[type=submit] {
    margin-left: 5px;
    font-size: 16px;
    padding: 5px 10px;
    background-color: rgb(114, 235, 215);
    border-radius: 10px;
    border: 1px solid gray;
}

#options-group {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
}
